.footer_parent{
  background-color: #fff;
  width: 100%;
  height: auto;
  .content {
    .first{
      img{
        width: 30px;
      }
    }

    .second{
      color: RGB(29, 78, 216);
    }
  }
}

