<div class="container-fluid p-0 d-flex h-100 ">
  <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light text-dark offcanvas-md offcanvas-start">
      <div class="sidebar-header text-center mb-4">
          <img src="logo-BfNap0Pe.png" alt="Recipe Logo" class="img-fluid">
      </div>
      <ul class="mynav nav nav-pills flex-column mb-auto">
          <li class="nav-item item1 mb-4">
              <a routerLink="home" routerLinkActive="router-link-active"  class=" rounded-4 active fw-bolder">
                <span>
                  <i class="fa-solid fa-utensils"></i>    Meals
                </span>
              </a>
          </li>
          <li class="nav-item mb-4">
              <a  class=" rounded-4 fw-bolder">
                <span>
                  <i class="fa-solid fa-carrot"></i>    Ingredients
                </span>
              </a>
          </li>
          <li class="nav-item mb-4">
              <a  class=" rounded-4 fw-bolder">
                 <span>
                  <i class="fa-solid fa-map-marker-alt"></i>    Area
                 </span>
              </a>
          </li>
      </ul>
  </div>

  <div class="flex-fill">
      <div class="p-2 d-md-none d-flex text-dark">
          <a href="#" class="text-dark" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
              <i class="fa-solid fa-bars"></i>
          </a>
      </div>
  </div>
</div>
